@import '../../styles/main.scss';
.wrapper {
   width: 100%;
   display: flex;
   line-height: 16px;
   word-wrap: break-word;
   justify-content: flex-start;
   margin-top: 24px;
}
.text {
   font-size: 16px;
   font-family: Poppins;
   font-weight: 600;
   color: $Gray-darkest;
}
