$White: #ffffff;
$gray: #545454;
$gray-opacity: 0.2;
$Gray-outline: rgba($gray, $gray-opacity);
$Gray-light: #dadada;
$Gray-dark: #545454;
$Accent: #9564d4;
$Gray-lightest: #f8f8f8;
$Gray-medium: #bcbcbc;
$Gray-darkest: #212121;
